[Desktop Entry]
Type=Application
Name={{name}}
GenericName=AI Media Creator
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
TryExec={{exec}}
Icon={{icon}}
Terminal=false
StartupNotify=true
StartupWMClass={{exec}}
Categories={{categories}}
Keywords=ai;image;video;audio;3d;generation;art;
